table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    text-align:center;
    padding:5px;
}
button {
    border:none;
    padding:5px;
    border-radius: 8px;
    background-color:darkred;
    color:white;
}
button:hover {
    background-color:rgb(138, 67, 67);
}